* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display:flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
    /* background-image: url(../Images/wallpaper.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: blueviolet;
    font-family: sans-serif;
}
.container{
    width: 400px;
    height: auto;
    border: 2px solid #eee;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}